- const width = "400"
- const height = "100"
- const viewBox = `0 0 ${width} ${height}`
- const lightGray = "#d1cee3"
- const gray = "#8b919e"
- const blue = "#2563eb"

svg(fill="none" viewBox=viewBox width=width height=height xmlns="http://www.w3.org/2000/svg")
  //- frame outline
  rect(x="0" y="0" width=width height=height stroke=lightGray strokeWidth="2" rx="8" ry="8")

  //- title info
  g(transform="translate(10 25)")
    a( href=url)
      text(x="0" y="0" fill=blue font-size="18" font-family="sans-serif")=title
    g(transform="translate(0 22)")
      path(transform="translate(0 -12)" fill='#a95ede' d="M 6.48 0 a 6.48 6.48 90 1 1 0 12.96 A 6.48 6.48 90 0 1 6.48 0 Z M 1.215 6.48 a 5.265 5.265 90 1 0 10.53 0 a 5.265 5.265 90 0 0 -10.53 0 Z m 5.67 -2.6325 v 2.4235 l 1.6427 0.6577 a 0.6075 0.6075 90 0 1 -0.4512 1.1275 l -2.025 -0.81 A 0.6083 0.6083 90 0 1 5.67 6.6825 v -2.835 a 0.6075 0.6075 90 0 1 1.215 0 Z")
      text(x="14" y="0" fill='#a95ede' font-size="14" font-family="sans-serif")=date+' '+timeago
    text(x="0" y="44" fill='#7dce13' font-size="14" font-weight="600" font-family="sans-serif")=tags.map(tag=>'#'+tag).join(' ')
    text(x="0" y="66" fill=gray font-size="14" font-family="sans-serif")=intro
